.about {
  max-width: 1240px;
  margin: 2rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-header {
  background: rgba(0, 0, 0, 0.2) url("../assets/about-bg.png");
  background-size: cover;
  background-blend-mode: darken;
  max-width: 1240px;
  height: 223px;
  border-radius: 25px;
  margin-bottom: 2rem;
}

.about-section {
  margin: 0 auto;
  max-width: 1023px;
  width: 100%;
}

.section {
  margin: 0 auto;
  width: 100%;
  text-align: start;
  color: white;
  background-color: #ff6060;
  border: none;
  height: 52px;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 1rem;
}

.section-panel {
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
  max-width: 1023px;
  max-height: 300px;
  overflow: hidden;
  background-color: #f6f6f6;
  color: #ff6060;
  font-size: 20px;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.4s ease-in-out;
  opacity: 1;
}

.show {
  margin: 1rem auto;
  padding: 0 2rem;
  line-height: 1.5rem;
}

.section-title {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    position: absolute;
    right: 1rem;
    width: 30px;
    cursor: pointer;
  }
}

.hidden {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  opacity: 0;
}

.icon {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(-180deg);
  transition: transform 0.3s ease-in-out;
}
