.Error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.Error-number {
  font-size: 15rem;
  font-family: "Montserrat-Bold";
  color: #ff6060;
  margin: 5rem 0;
}

.Error-text {
  font-size: 2rem;
  color: #ff6060;
  font-weight: 700;
  margin: 0 0 5rem;
}

.Error-link {
  font-size: 1.1rem;
  color: #ff6060;
  font-weight: 400;
  margin-bottom: 5rem;
}

@media screen and (600px < width < 1080px) {
  .Error-number {
    font-size: 10rem;
  }

  .Error-text {
    font-size: 1.7rem;
    width: 60%;
  }

  .Error-link {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .Error-number {
    font-size: 6rem;
  }

  .Error-text {
    font-size: 1.125rem;
    width: 80%;
  }

  .Error-link {
    font-size: 0.875rem;
  }
}
