.Error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Error-number {
  font-size: 15rem;
  font-family: "Montserrat-Bold";
  color: #ff6060;
  margin: 5rem 0;
}

.Error-text {
  font-size: 2rem;
  color: #ff6060;
  font-weight: 700;
  margin: 0 0 5rem;
}

.Error-link {
  font-size: 1.1rem;
  color: #ff6060;
  font-weight: 400;
  margin-bottom: 5rem;
}
